<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">The Garden</a></li>
    <li><a ng-href="#">About</a></li>
  </ul>
  <h3 class="text-muted">PDE Zen Garden</h3>
</div>

<div class="row">
  <div ng-repeat="pde in pdes" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img ng-src="{{ pde.thumbnail }}" alt="{{ pde.name }}">
      <div class="caption">
        <h3>{{ pde.name }}</h3>
        <p>{{ pde.snippet }}</p>
      </div>
    </div>
  </div>
</div>




<div class="footer">
  <p>
    Inspired by a <a href="http://people.maths.ox.ac.uk/trefethen/pdectb.html">wonderful little book</a>.
    <span class="pull-right">Built with ♥ by <a href="http://harishnarayanan.org/">Harish Narayanan</a>.</span>
  </p>
</div>
